.lineUp {
  animation: 2s anim-lineUp ease-out infinite;
}

.parallaxImage {
  margin: 10% 0;
  width: 45%;
  background: none;
}

.parallaxImage2 {
  margin: 10% auto 10%;
  width: 65%;
  background: none;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(-80%);
  }
}